.no-boder-icon {
    border: none !important;
}
.test-back{
   background-color: red
}

.app-font-13 ion-label{
    white-space: inherit;
    font-size: 13px;
  }

  ion-radio {
      margin: none;
      padding: none;
  }

  ion-item ion-label {
      font-size: 1.4rem;
  }

  .radio-marin{
    margin-right: 1.4rem !important;
    margin-left: 0.4rem !important;
  }

  .red-background{
    background-color: red;
  }
  .gender{
    padding-left: 0px !important;
    padding-right: 0px !important;
  }

  .gender-lable{
    padding-left: 0px !important;
    padding-right: 0px !important;
  }

  .no-marin {
      margin: 0px 0px 0px 0px !important;
  }

  .gender-lable .item-inner {
      border: none !important;
  }

  ion-item-divider{
    border-top: 2px solid #528D80 !important; 
    border-bottom:  none;  
 }