.no-boder-icon {
    border: none;
}
.test-back{
   background-color: red
}

.app-font-13 ion-label{
    white-space: inherit;
    font-size: 13px;
  }

  ion-radio {
      margin: none;
      padding: none;
  }

  ion-item ion-label {
      font-size: 1.4rem;
  }

  .radio-marin{
    margin-right: 1.4rem !important;
    margin-left: 0.4rem !important;
  }

  .red-background{
    background-color: red;
  }