page-home {
   
}

$list-md-border-color:green;

.none-marin{
    margin: none;
}

.list-avatar-page {
    ion-note {
        font-size: 1.4rem;
        align-self: flex-start;
        color: gray;
    }
}

.list-avatar-page {
  ion-row {
    div {
      color: #888888;
      font-size: 1.4rem;
    }
  }
}
.action-sheets-basic-page {
    .ion-md-share {
      color: #ED4248;
    }
    .ion-md-arrow-dropright-circle {
      color: #508AE4;
    }
    .ion-md-heart-outline {
      color: #31D55F;
    }
    .action-sheet-cancel ion-icon,
    .action-sheet-destructive ion-icon {
      color: #757575;
    }
  }

  .star {
    margin: 0px !important;
  }